body {
  background-color: rgb(184, 186, 189);
  /* background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%) */
}

.App {
  text-align: center;
}

/* .titleSize {
  height: 40px;
  align-items: center;
} */

.video_container {
  position: relative;
  align-self: center;
  width: 80%;
  height: 10rem;
  overflow: hidden;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio */
}

.selectSize {
  height: 38px;
  width: 200px;
  border-radius: 5px;
  border: none;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.imgSize {
  height: 25rem;
}