@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background-color: rgb(237, 242, 179);
}

.App {
  text-align: center;
}

.about {
  margin: auto;
}

.video_container {
  position: relative;
  align-self: center;
  width: 80%;
  height: 10rem;
  overflow: hidden;
  padding-top: 56.25%;
}

.viewImgSize {
  height: 25rem;
  width: 22rem;
}
.animeImgSize{
  height: 22rem;
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 80%;
}

.imgSize {
  height: 25rem;
}
.card:hover
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}